ARCH_CFLAGS:=
ARCH_CPPFLAGS:=
KERNEL_ARCH_CFLAGS:= $(ARCH_CFLAGS) -mno-red-zone \
-fno-omit-frame-pointer -mno-aes -mno-mmx -mno-pclmul -mno-sse -mno-sse2 -mno-sse3 -mno-sse4 \
-mno-sse4a -mno-fma4 -mno-ssse3
KERNEL_ARCH_CPPFLAGS:=
NASMARCH:=64
ARCH_FREEOBJS:= arch/x86_64/exit.o

ARCH_HOSTEDOBJS:= arch/x86_64/crt0.o \
arch/x86_64/crti.o \
arch/x86_64/crtn.o \
arch/x86_64/Scrt0.o
