---
Checks: >
  performance*, modernize-pass-by-value, readability*, misc*,
  -readability-implicit-bool-conversion, -readability-braces-around-statements,
  -readability-else-after-return, -readability-isolate-declaration,
  -readability-magic-numbers, -misc-unused-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-inconsistent-declaration-parameter-name, -readability-qualified-auto,
  -misc-non-private-member-variables-in-classes, -clang-diagnostic-unknown-attributes,
  cppcoreguidelines-slicing, cppcoreguidelines-pro-type-const-cast,
  google-runtime-operator, bugprone*, -bugprone-narrowing-conversions,
  clang-analyzer-optin.performance.Padding, modernize-use-override,
  -bugprone-reserved-identifier, -misc-no-recursion,
  -readability-identifier-length,
  -performance-no-int-to-ptr,
  -bugprone-easily-swappable-parameters,
  -performance-noexcept-move-constructor,
  android-cloexec*,
  -misc-noexcept,
  -misc-const-correctness,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  clang-analyzer-optin.portability.UnixAPI,
  cert-mem57-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  cert-flp30-c,
  -readability-function-cognitive-complexity,
  -bugprone-suspicious-string-compare

FormatStyle:     file
...
