[submodule "onyx-pkgs"]
	path = onyx-pkgs
	url = https://github.com/heatd/onyx-pkgs
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/heatd/toolchains.git
[submodule "src/benchmark"]
	path = src/benchmark
	url = https://github.com/heatd/benchmark
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/heatd/googletest
[submodule "src/core/toybox"]
	path = src/core/toybox
	url = https://github.com/heatd/toybox
