*.o
*.img
daemon
*.map
kernel/vmonyx-*
*.iso
isodir
sysroot
.directory
testmod
.vscode
musl
newlib
init/init
cat/cat
echo/echo
ls/ls
*.pcap
*.pcapng
login/login
sh/sh
*.sha256sum
*.a
luac
lua
ports/*
packmanager/packmanager*
ld/ld-onyx.so
ls/ls
