[submodule "onyx-pkgs"]
	path = onyx-pkgs
	url = https://github.com/heatd/onyx-pkgs
[submodule "usystem/googletest"]
	path = usystem/googletest
	url = https://github.com/heatd/googletest
[submodule "usystem/benchmark"]
	path = usystem/benchmark
	url = https://github.com/heatd/benchmark
[submodule "usystem/toybox"]
	path = usystem/toybox
	url = https://github.com/heatd/toybox
