*.o
*.lo
*.img
daemon
*.map
kernel/vmonyx-*
*.iso
isodir
sysroot
.directory
.vscode
init/init
utils/cat/cat
utils/echo/echo
utils/ls/ls
*.pcap
*.pcapng
utils/login/login
sh/sh
*.sha256sum
*.a
*.so
luac
lua
ports/*
packmanager/packmanager*
ld/ld-onyx.so
utils/ls/ls
onyx-vdso*
utils/dmesg/dmesg
games/pong
utils/true/true
utils/yes/yes
autom4ate.cache
*.m4
utils/printenv/printenv
dhcpcd/dhcpcd

*.tar*
