# Multi-user target for booting into multi-user mode

[Dependencies]
Wants=netctld.service devmgr.service coredumpd.service

[Service]
Bin=/usr/bin/login
Type=regular
