NASMARCH:=64
KERNEL_ARCH_CFLAGS:=-march=rv64imac -mabi=lp64 -mcmodel=medany -I ../kernel/include/onyx/riscv/include

KERNEL_ARCH_LDFLAGS:=-z max-page-size=0x1000

ARCH_HOSTEDOBJS:= arch/riscv64/crt0.o \
arch/riscv64/crti.o \
arch/riscv64/crtn.o \
arch/riscv64/Scrt0.o

ARCH_FREEOBJS:= string/memcpy.o
