CONFIG_KASLR=y
CONFIG_ASLR=y
CONFIG_EXT2=y
CONFIG_KTRACE=y
CONFIG_UBSAN=n
CONFIG_AHCI=y
CONFIG_ATA=y
CONFIG_BGA=y
CONFIG_E1000=y
CONFIG_IGD=y
CONFIG_RTL8139=n
CONFIG_SVGA=y
CONFIG_USB=n
CONFIG_VIRTIO=y
CONFIG_VIRTIO_NET=n
CONFIG_VIRTIO_GPU=n
CONFIG_VIRTIO_BLK=y
CONFIG_X86=y
CONFIG_X86_PLATFORM=pc
CONFIG_KASAN=n
CONFIG_NVME=n
CONFIG_NET=y
CONFIG_LTO=y
