KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/arch.o \
$(ARCHDIR)/desc_load.o \
$(ARCHDIR)/isr_handler.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/sse.o \
$(ARCHDIR)/debug.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/vmm.o \
$(ARCHDIR)/paging_asm.o \
$(ARCHDIR)/userspace.o \
