NASMARCH:=64

# Kernel flags overview
# mno-red-zone disables the SYSV ABI redzone (incompatible with interrupts)
# fno-omit-frame-pointer keeps a stack-traceable frame pointer list, at the expense of
# a register (Maybe add a CONFIG to disable?)
# -mno-{sse, avx, ...} and msoft-float disable all sorts of hardware SSE/AVX/X87, etc, as we
# can't use those.
# mharden-sls=all mitigates against SLS speculation 
# mretpoline adds retpolines to mitigate against spectre v2
# mskip-rax-setup saves us instructions for FPU-less varargs (GCC only)
KERNEL_ARCH_CFLAGS:= -mno-red-zone -fno-omit-frame-pointer \
-mno-aes -mno-mmx -mno-pclmul -mno-sse -mno-sse2 -mno-sse3 -mno-sse4 \
-mno-sse4a -mno-fma4 -mno-ssse3 -msoft-float

ifneq ($(ONYX_USING_CLANG), yes)
KERNEL_ARCH_CFLAGS+= -mskip-rax-setup
endif

ifeq ($(CONFIG_X86_MITIGATE_SLS), y)
KERNEL_ARCH_CFLAGS+= -mharden-sls=all
endif

ifeq ($(CONFIG_X86_RETPOLINE), y)
ifeq ($(ONYX_USING_CLANG), yes)
KERNEL_ARCH_CFLAGS+= -mretpoline
else
KERNEL_ARCH_CFLAGS+= -mindirect-branch=thunk -mindirect-branch-register
endif
endif

ifeq ($(CONFIG_X86_RETHUNK), y)
KERNEL_ARCH_CFLAGS+= -mfunction-return=thunk-extern
endif

KERNEL_ARCH_CPPFLAGS:=-I include/onyx/x86/include

ifneq ($(CONFIG_RELOCATABLE), y)
KERNEL_ARCH_CFLAGS+= -mcmodel=kernel
endif

KERNEL_ARCH_LDFLAGS:=-z max-page-size=0x1000
LIBK_EXTRA_OBJ:=arch/x86_64/crti.o arch/x86_64/crtn.o
LIBK_ARCH_OBJS:= arch/x86_64/memcpy.o arch/x86_64/memset.o
