NASMARCH:=64

KERNEL_ARCH_CFLAGS:=-march=rv64imac -mabi=lp64 -mcmodel=medany -I include/onyx/riscv/include -fno-omit-frame-pointer

ifneq ($(ONYX_USING_CLANG), yes)
KERNEL_ARCH_CFLAGS+= -misa-spec=2.2
endif

ifeq ($(ONYX_USING_CLANG), yes)
KERNEL_ARCH_CFLAGS:=$(KERNEL_ARCH_CFLAGS) -mno-relax
VDSO_CFLAGS:= -mno-relax
endif

KERNEL_ARCH_LDFLAGS:=-z max-page-size=0x1000

# RISCV has no crti.o nor crtn.o
ARCH_NO_CRTI_N:=1

LIBK_ARCH_OBJS:= string/memcpy.o string/memset.o
ARCH_HAS_JUMP_LABELS:=y
