config PS2
    bool "PS/2 controller (& keyboard/mouse) support"
    default y if X86_PLATFORM = "pc"
    depends on X86_PLATFORM = "pc"
    help
        8042 PS/2 controller support. This driver provides keyboard/mouse for most x86 PCs. 
