source "kernel/net/Kconfig"
source "kernel/fs/Kconfig"
source "kernel/mm/Kconfig"

menu "Security options"

config KASLR
    bool "Kernel Address Space Layout Randomization"
    default y
    help
        Enable Kernel Address Space Layout Randomization. Results in a likely
        slight performance hit, but is important in the defence of the system
        against attacks.

        If in doubt, say Y.

config ASLR
    bool "Address Space Layout Randomization (userspace)"
    default y
    help
        Enable Address Space Layout Randomization. Results in a likely
        slight performance hit, but is important in the defence of the system
        against attacks.

        If in doubt, say Y.


endmenu

menu "Debugging options"

config DEBUG_MAPLE_TREE
    bool "Maple tree debugging"
    help
        Enable Maple Tree Debugging checks.

        If in doubt, say N.

config DEBUG_ADDRESS_SPACE_ACCT
    bool "Address space accounting checks"
    help
        Enable address space accounting checks around various places.
        Has a very real cost.

        If in doubt, say N.

config DEBUG_MM_MMAP
    bool "mmap tree validation checks"
    help
        Enable mmap tree validation checks after most mmap tree operations.
        Has a very real cost.

        If in doubt, say N.

config DCHECK
    bool "Enable debug CHECKs (DCHECKs)"
    help
        Enable debug assertions. Code should not be behaviorally impacted.

        If in doubt, say N.

config UBSAN
    bool "Undefined Behavior Sanitizer (UBSAN)"
    help
        Enable UBSAN, which detects undefined behavior. It's very useful
        when developing, but has a real performance cost.

        If in doubt, say N.

config KASAN
    bool "Kernel Address Space Sanitizer (KASAN)"
    help
        Enable KASAN, which finds all sorts of memory errors. It's very useful
        when developing, but has a _very_ real performance and memory cost.

        If in doubt, say N.

if KASAN
    config KASAN_QUARANTINE_PCPU_SIZE
        hex "KASAN quarantine percpu size"
        default 0x100000
        help
            Controls the KASAN quarantine percpu size. Has an impact on performance *and* memory usage.

    config KASAN_QUARANTINE_SIZE
        hex "KASAN quarantine size"
        default 0x10000000
        help
            Controls the KASAN quarantine size. Has an impact on memory usage. If too
            high (compared to the memory size), you might experience system instability.
endif

config TRACE_IRQFLAGS
    bool

config PROVE_LOCKING
	bool "Lock debugging: prove locking correctness"
	select LOCKDEP
	select DEBUG_SPINLOCK
	select DEBUG_MUTEXES if !PREEMPT_RT
	select DEBUG_RT_MUTEXES if RT_MUTEXES
	select DEBUG_RWSEMS if !PREEMPT_RT
	select DEBUG_WW_MUTEX_SLOWPATH
	select DEBUG_LOCK_ALLOC
	select PREEMPT_COUNT if !ARCH_NO_PREEMPT
	select TRACE_IRQFLAGS
	default n
	help
	 This feature enables the kernel to prove that all locking
	 that occurs in the kernel runtime is mathematically
	 correct: that under no circumstance could an arbitrary (and
	 not yet triggered) combination of observed locking
	 sequences (on an arbitrary number of CPUs, running an
	 arbitrary number of tasks and interrupt contexts) cause a
	 deadlock.

	 In short, this feature enables the kernel to report locking
	 related deadlocks before they actually occur.

	 The proof does not depend on how hard and complex a
	 deadlock scenario would be to trigger: how many
	 participant CPUs, tasks and irq-contexts would be needed
	 for it to trigger. The proof also does not depend on
	 timing: if a race and a resulting deadlock is possible
	 theoretically (no matter how unlikely the race scenario
	 is), it will be proven so and will immediately be
	 reported by the kernel (once the event is observed that
	 makes the deadlock theoretically possible).

	 If a deadlock is impossible (i.e. the locking rules, as
	 observed by the kernel, are mathematically correct), the
	 kernel reports nothing.

	 NOTE: this feature can also be enabled for rwlocks, mutexes
	 and rwsems - in which case all dependencies between these
	 different locking variants are observed and mapped too, and
	 the proof of observed correctness is also maintained for an
	 arbitrary combination of these separate locking variants.

	 For more details, see Documentation/locking/lockdep-design.rst.

config LOCKDEP
	bool
	select STACKTRACE
	select KALLSYMS
	select KALLSYMS_ALL

config LOCKDEP_SMALL
	bool

config LOCKDEP_BITS
	int "Size for MAX_LOCKDEP_ENTRIES (as Nth power of 2)"
	depends on LOCKDEP && !LOCKDEP_SMALL
	range 10 24
	default 15
	help
	  Try increasing this value if you hit "BUG: MAX_LOCKDEP_ENTRIES too low!" message.

config LOCKDEP_CHAINS_BITS
	int "Size for MAX_LOCKDEP_CHAINS (as Nth power of 2)"
	depends on LOCKDEP && !LOCKDEP_SMALL
	range 10 21
	default 16
	help
	  Try increasing this value if you hit "BUG: MAX_LOCKDEP_CHAINS too low!" message.

config LOCKDEP_STACK_TRACE_BITS
	int "Size for MAX_STACK_TRACE_ENTRIES (as Nth power of 2)"
	depends on LOCKDEP && !LOCKDEP_SMALL
	range 10 26
	default 19
	help
	  Try increasing this value if you hit "BUG: MAX_STACK_TRACE_ENTRIES too low!" message.

config LOCKDEP_STACK_TRACE_HASH_BITS
	int "Size for STACK_TRACE_HASH_SIZE (as Nth power of 2)"
	depends on LOCKDEP && !LOCKDEP_SMALL
	range 10 26
	default 14
	help
	  Try increasing this value if you need large STACK_TRACE_HASH_SIZE.

config LOCKDEP_CIRCULAR_QUEUE_BITS
	int "Size for elements in circular_queue struct (as Nth power of 2)"
	depends on LOCKDEP
	range 10 26
	default 12
	help
	  Try increasing this value if you hit "lockdep bfs error:-1" warning due to __cq_enqueue() failure.

config KCSAN
    bool "Kernel Concurrency Sanitizer (KCSAN)"
    # KCSAN and KASAN are mutually excluded (by the compiler itself)
    depends on !KASAN
    help
        Enable KCSAN, which helps find concurrency issues, using a sampling method.
        Has a very real performance cost.

        If in doubt, say N.

config KCOV
    bool "Kernel coverage (kcov)"
    help
        Enable KCOV, which helps fuzzers find issues by giving them coverage data.
        Has a very real performance cost.

        If in doubt, say N.

config KUNIT
    bool "Kernel unit testing"
    help
        Enable kernel unit tests. Has a big footprint on kernel .text size.

        If in doubt, say N.

config PAGE_OWNER
    bool "Page owner tracking"
    help
        Enable page owner tracking. Helps debugging page lock/UAF issues.

        If in doubt, say N.

config SCHED_DUMP_THREADS_MAGIC
    bool "Numlock thread info dumping"
    help
        Enable thread info dumping for all threads in the system when the
        vterm recieves a numlock.

        If in doubt, say N.
endmenu

menu "Tracing options"

config KTRACE
    bool "Kernel tracing"
    default y
    help
        Enable ktrace, which is a bag of various different tracing facilities. Most importantly,
        required by trace(1). Should have near zero cost.

        If in doubt, say Y.

endmenu

menu "General kernel options"

config SMP_NR_CPUS
    int "Maximum number of CPUs"
    range 64 256
    default 64
    help
        Number of CPUs supported by the kernel (upper-bound).
        Substancially affects memory usage.

config LTO
    bool "Use Link-time optimization when building the kernel"
    help
        Use LTO when building the kernel. May result in worse debugging,
        tracing and possible breakage. Results in slower kernel builds.

        If in doubt, say N.
endmenu
