menu "Drivers"

source "drivers/acpi/Kconfig"
source "drivers/ps2/Kconfig"
source "drivers/rtc/Kconfig"
source "drivers/serial/Kconfig"
source "drivers/virtio/Kconfig"
source "drivers/net/Kconfig"
source "drivers/nvme/Kconfig"
source "drivers/firmware/Kconfig"
source "drivers/ata/Kconfig"
source "drivers/ahci/Kconfig"
source "drivers/pci/Kconfig"
source "drivers/bga/Kconfig"
source "drivers/irqchip/Kconfig"

endmenu
